<ng-container *ngIf="selectedFriend;else notSelectedFriend">
    <div class="h-100 d-flex flex-column">
        <app-chat-header [friend]="selectedFriend"></app-chat-header>
        <div class="messages flex-grow-1 flex-shrink-1">

        </div>
        <app-chat-user-input></app-chat-user-input>
    </div>
</ng-container>

<ng-template #notSelectedFriend>
    <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100%;">

        <div class="img-container rounded-circle mb-2">
            <img src="assets/logo.png" alt="logo image" style="height: 80px; width: 80px;">
        </div>
        <h1 style="color: #2e2e2e;">Welcome to wTalk</h1>
        <button class="mt-2 btn btn-chat">Start Chatting</button>
    </div>
</ng-template>