<div class="container-fluid mt-4 d-flex" style="background-color: #4eac6d;">

    <div class="d-flex col-sm-2 col-lg-2">
        <img src="/assets/logo.png" alt="logo img" style="height: 100px; width: 100px;">
        <h2 class="text-center">wTalk</h2>
    </div>

    <div class="col-sm-10 col-lg-10" style="background-color: white;">
       
        <div class="text-center ">
            <h1>Welcome Back !</h1>
            <h4>Sign in to continue to wTalk</h4>
       </div>

       <div>
           <form>
               <div class="form-group">
                   <label for="username">Username</label>
                   <input type="text" class="form-control">
               </div>

               <div class="form-group password-input">
                    <label for="password">Password</label>
                    <div class="password-icons-container">
                        <input type="password" class="form-control">
                        <i class="fa fa-eye"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true" style="display: none;"></i>
                    </div>
                </div>

                <div class="input-group">
                    <label>Pass</label>
                    <div class="input-icon-container">
                        <input type="password"/>
                        <i class="fa fa-eye-slash"></i>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-login" style="background-color: #4eac6d;" type="submit">Log In</button>
                </div>
            
           </form>
       </div>
    </div>
</div>

<style>
   

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.input-icon-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #374669;
  border-radius: 5px;
  background : #fff;
  align-items : center;
  overflow: hidden;
}
.input-icon-container input {
  outline: none;
  border: none;
  background: none;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  flex : auto 1 1;
  width : 100%;
  background : none;
  background-color : rgb(241, 241, 241);
  border-radius: 10px;
}

.input-icon-container .fa{
  padding : 10px;
}

.password-input{

}
</style>