<div class="wrapper">
    <ul class="list-unstyled">
        <li *ngFor="let message of messages"
            [ngClass]="[' chat-list ', currentUser?.id==message.sender?.id?' right ':'']">
            <div class="conversation-list">
                <div class="chat-avatar">
                    <app-user-icon [avatar]="message.sender?.avatar"></app-user-icon>
                </div>
                <div class="ctext-wrap">
                    <div class="ctext-wrap-content">
                        <p class="text-center mb-0">
                            {{message.text}}
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>