<div class="wrapper">
    <app-search-bar (search)="search($event)"></app-search-bar>
    <hr />
    <ng-container class="recent-searches-container" *ngIf="!searchTerm;else searchResults">
        <div class="recent-searches-title">Recent searches</div>
        <div class="no-recent-searches-container">
            No recent searches
        </div>
    </ng-container>

    <ng-template #searchResults>
        <ul class="search-results-list">
            <li *ngFor="let user of pagination.items">
                <div class="row w-100 d-flex align-items-center">
                    <div class="col-1">
                        <app-user-icon [avatar]="user.avatar"></app-user-icon>
                    </div>
                    <div class="col-8">
                        {{user.username}}
                    </div>
                    <div class="col-3 m-0 p-0">
                      <button class="btn btn-primary w-100 add-friend-button">
                        <mat-icon class="d-inline-block">add</mat-icon>
                        <span>
                        Add friend
                        </span>
                      </button>
                    </div>
                </div>
            </li>
        </ul>
        <ng-container *ngIf="pagination.items.length==0 && loading==false">
            <div class="no-search-results">
                No search results
            </div>
        </ng-container>
        <ng-container *ngIf="loading==true">
          <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
        </ng-container>
    </ng-template>
</div>
