<div class="container-fluid mt-4 d-flex">

    <div class="d-flex col-sm-2 col-lg-2">
        <img src="/assets/logo.png" alt="logo img" style="height: 100px; width: 100px;">
        <h2 class="text-center">wTalk</h2>
    </div>

    <div class="col-sm-8 col-lg-8 mx-auto login-container">
       
        <div class="text-center ">
            <h1>Reset Password</h1>
            <h5 class="mt-2 mb-2">Reset Password with wTalk</h5>
       </div>

       <div class="mx-auto w-50 mt-3">
        <div class="text-center mt-5 alert alert-info fade show" role="alert">Enter your Email and instructions will be sent to you!</div>

           <form class="login-container-form">
               
            <div class="form-group">
                <label for="email1">Email address</label>
                <input type="email" class="form-control" id="email1" aria-describedby="emailHelp">
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-login w-100 btn-login" type="submit">Reset</button>
            </div>
            
           </form>

           <p class="text-center pt-4" style="color: #797C8C;">Remember it? <a routerLink="" (click)="redirect()">Login</a></p>
       </div>
    </div>
</div>