.login-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    -ms-transform: translate(0%, 17%);
    transform: translate(0%, 17%);
}

.login-container label,span {
    margin: .6em 0;
}

button {
    background-color: #4eac6d;
    color: whitesmoke;
}

.login-container a {
    color: #4eac6d;
}




