.mat-drawer-container {
    height: 100vh !important;
    overflow: hidden;
}

.mat-drawer {
    max-width: 4em;
}

.mat-nav-list {
    height: 100%;
    padding: 0;
}

::ng-deep .mat-list-item .mat-list-item-content {
    justify-content: center;
    color: white;
    font-size: 1em;
}

::ng-deep .mat-list-item .mat-list-item-content mat-icon {
    font-size: 1em;
}

.mat-nav-list {
    background-color: #373737;
}

.mat-drawer-content {
    margin-left: 4em;
}