<mat-drawer-container class="mat-drawer-container">
    <mat-drawer mode="side" opened>
        <mat-nav-list class="text-center" class="mat-nav-list">
            <a mat-list-item [routerLink]="'/dashboard/profile'" [routerLinkActive]="['chosen']"><i
                    class="fa fa-user-circle"></i></a>
            <a mat-list-item [routerLink]="'/menu/chat'" [routerLinkActive]="['chosen']"><i
                    class="fa fa-comments"></i></a>
            <a mat-list-item [routerLink]="'/menu/contacts'" [routerLinkActive]="['chosen']"><i
                    class="fa fa-list"></i></a>
            <a mat-list-item [routerLink]="'/menu/calls'" [routerLinkActive]="['chosen']"><i
                    class="fa fa-phone"></i></a>
            <a mat-list-item [routerLink]="'/menu/bookmarks'" [routerLinkActive]="['chosen']">
                <mat-icon>bookmarks</mat-icon>
            </a>
            <a mat-list-item [routerLink]="'/dashboard/settings'" [routerLinkActive]="['chosen']">
                <mat-icon>settings</mat-icon>
            </a>

            <div class="switch-mode">
                <a mat-list-item class="mb-2">
                    <mat-icon>nightlight_round</mat-icon>
                </a>
                <a mat-list-item style="display: none;">
                    <mat-icon>light_mode</mat-icon>
                </a>
                <button class="btn btn-primary w-100 d-flex justify-content-center" (click)="signOut()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
            <!-- circle image of user -->
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="row g-0 h-100">
            <div class="col-3">
                <app-friends-list></app-friends-list>
            </div>
            <div class="col-9">
                <router-outlet></router-outlet>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>