.sidenav-container {
    height: 100%;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-img {
    filter: brightness(2.75);
}

a {
    font-size: 1.5rem;
    margin-top: .7em;
}

i,
mat-icon {
    margin: auto;
}

.nav-items {
    width: 22em;
    min-height: 100vh;
    /* needs to be height: 100% */
    background-color: #eeeee4;
}

.switch-mode {
    padding-bottom: .5em;
    position: absolute;
    bottom: 3em;
}

.chosen {
    background-color: #4eac6d;
}