.wrapper {
    background-color: white;
    border-bottom: 1px solid #ededed;
    padding: 0.5em;
    height: 5em;
}

.friend-avatar-container {
    padding: 0 2em;
}

.friend-info-container {}

.friend-full-name {
    font-weight: bold;
    font-size: 1.5rem;
}