.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-img {
  filter: brightness(2.75);
}

.icon-container {
  width: 100px;
}

a {
  font-size: 1.5rem;
}